@use './scss/layout/containers' as *;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$e-commerce-product-page-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($e-commerce-product-page-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($e-commerce-product-page-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($e-commerce-product-page-theme);
/* You can add global styles to this file, and also import other style files */

*,
*:before,
*:after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  scrollbar-color: #6E6E73 #FAFAFC;
  scrollbar-width: thin;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  font-size: .7rem;
  border-style: none;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

input.disable-default-number-controls::-webkit-outer-spin-button,
input.disable-default-number-controls::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number].disable-default-number-controls {
  -moz-appearance: textfield;
}

::-moz-selection {
  color: white;
  background: hsl(26, 100%, 55%);
}

::selection {
  color: white;
  background: hsl(26, 100%, 55%);
}

.error-snackbar {
  color: #ff2b5a;
  --mdc-snackbar-supporting-text-color: #990627;
  --mdc-snackbar-container-color: #ffbbc2;

  .mat-mdc-snack-bar-action {
    --mat-snack-bar-button-color: #990627;
  }
}

.success-snackbar {
  color: #2bff95;
  --mdc-snackbar-supporting-text-color: #067c39;
  --mdc-snackbar-container-color: #bbffe0;

  .mat-mdc-snack-bar-action {
    --mat-snack-bar-button-color: #067c39;
  }
}

.lightbox-dialog {
  .mat-mdc-dialog-surface {
    background-color: transparent;
  }
}
