
<header class="container header">

  <a routerLink="/" class="header__site-identity">
    <img ngSrc="/site-identity/logo.svg" alt="" class="site-identity-logo" width="138" height="20" priority>
  </a>

  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <li class="header__navigation-list-item">
        <a routerLink="/collections" class="header__navigation-list-item-link" routerLinkActive="active-link">Collections</a>
      </li>
      <li class="header__navigation-list-item">
        <a routerLink="/men" class="header__navigation-list-item-link" routerLinkActive="active-link">Men</a>
      </li>
      <li class="header__navigation-list-item">
        <a routerLink="/women" class="header__navigation-list-item-link" routerLinkActive="active-link">Women</a>
      </li>
      <li class="header__navigation-list-item">
        <a routerLink="/about" class="header__navigation-list-item-link" routerLinkActive="active-link">About</a>
      </li>
      <li class="header__navigation-list-item">
        <a routerLink="/contact" class="header__navigation-list-item-link" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__cart-block" >
    <element-cart />
  </div>
  <div class="header__user-profile-block">
    <a href="#" matTooltip="Profile" class="avatar-container">
      <img ngSrc="/avatar-user.webp" alt="" class="avatar-thumbnail" height="100" width="100">
    </a>
  </div>

</header>
