
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: clamp(.5rem, 1.3vw, 1rem);
  height: 6rem;
  border-bottom: 1px solid hsl(223, 14%, 90%);
  background-color: hsl(0, 0%, 100%);
}

.header__site-identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  max-width: 8.5rem;
  margin-right: clamp(.5rem, 1.8vw, 2rem);

  .site-identity-logo {
    user-select: none;
  }
}

.header__navigation {
  position: relative;
  height: 100%;
}

.header__navigation-list {
  display: flex;
  gap: clamp(.9rem, 2.4vw, 2rem);
  flex-basis: content;
  height: 100%;
}

.header__navigation-list-item {

}

.header__navigation-list-item-link {
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(219, 9%, 45%);
  font-size: clamp(.9rem, 2vw, 1rem);
  height: 100%;
  border-bottom: .32rem solid transparent;
  transition: border-bottom .3s;

  &:hover {
    color: hsl(220, 13%, 13%);
    border-bottom: .32rem solid hsl(25, 100%, 94%);
  }
}

.active-link {
  color: hsl(220, 13%, 13%);
  font-weight: 500;
  border-bottom: .32rem solid hsl(26, 100%, 55%);
}



// --------- [ CART SECTION ] --------- //

.header__cart-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 2.2rem;
}




// --------- [ AVATAR SECTION ] --------- //

.header__user-profile-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: clamp(.8rem, 3vw, 1.3rem);
}
.avatar-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: clamp(2.4rem, 6.4vw, 3rem);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid transparent;
  overflow: hidden;
  transition: border .18s ease-in;

  &:hover {
    border: 2px solid hsl(26, 100%, 55%);
  }
}

.avatar-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
